---
import AuthBTN from "src/Auth/AuthBTN";
import TikTokBTN from "src/Auth/TiktokBTN";

interface Props {
    auth: string;
}

const { auth } = Astro.props;
---

<script is:inline>
    const globalUser = JSON.parse(localStorage.getItem("FV-User") || "{}");
    const baseURL = "/FrancoVidal";

    if (globalUser && Object.keys(globalUser).length > 0) {
        const referrer = document.referrer;
        const isSamePage = referrer.includes(window.location.pathname);

        if (referrer && !isSamePage) {
            window.location.href = referrer; 
        } else {
            window.location.href = `${baseURL}/${globalUser.role || "user"}`;
        }
    }
</script>

<main class={`container-${auth} f-col p-4 br-10 fixed o-auto`} data-type={auth}>
    <span class="text-center fs-6 fw-600">{auth}</span>
    <div class="f-col f-justify-center">
        <span class="fs-custom-13-5 mt-3 mb-1">Username</span>
        <input type="text" data-input-type="user" name="fv_username" />
        <span class="fs-custom-13-5 mt-3 mb-1">Contraseña</span>
        <input type="password" data-input-type="pass" />
        {
            auth !== "Login" ? (
                <>
                    <span class="fs-custom-13-5 mt-3 mb-1">
                        Repite la contraseña
                    </span>
                    <input type="password" data-input-type="pass2" />
                    <span class="fs-custom-13-5 mt-3 mb-1">Nº de telefono</span>
                    <input
                        type="number"
                        oninput="if(this.value.length > 9) this.value = this.value.slice(0, 9)"
                        data-input-type="phone"
                        name="phone"
                    />
                </>
            ) : null
        }
    </div>
    <p class="fs-custom-13-5 mt-2 m-0">
        {auth === "Login" ? "¿No tienes cuenta?" : "¿Ya tienes cuenta?"}
        <a
            href={`/FrancoVidal/auth/${auth === "Login" ? "register" : "login"}`}
            class="link text-info"
        >
            {auth === "Login" ? "Registrarme" : "Ingresar"}
        </a>
    </p>
    <AuthBTN type={auth} client:only="react" />
    <p class="text-xsm mx-auto mt-3">Or continue with</p>
    <TikTokBTN type={auth} client:only="react" />
</main>

<style>
    .container-Login,
    .container-Register {
        background-color: var(--vscode-editor-background);
        border: solid 1px var(--vscode-panel-border);
        max-height: 90vh;
        width: 360px;
        min-width: 340px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    span.fs-2 {
        color: var(--vscode-foreground);
    }
</style>
